<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>%d{yyyy-MM-dd HH:mm:ss.SSS} [%thread] %-5level %logger{50} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 只有com.itheima包下的才输出debug -->
    <logger name="com.itheima" level="debug" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

    <!-- 其他所有包（Spring等）只输出error级别，基本看不到 -->
    <root level="error">
        <appender-ref ref="STDOUT"/>
    </root>
</configuration>